/* primo esercizio */
.ex-1-square{
  cursor: pointer;
  transition: all 2.5s;
}

.ex-1-square:hover{
  background-color: red;
}

/* secondo esercizio */
.ex-2-square{
  cursor: pointer;
  transition: all 2s;
}

.ex-2-square:active{
  width: 100%;
}

/* terzo esercizio */
.ex-3-square{
  cursor: pointer;
  transition: all 0.7s;
}

.ex-3-square:hover{
  border-radius: 50%;
}
